*{
    margin: 0;
    padding: 0;
}
:root{
    --primary:#03192C;
    --secondary:#F3EBEBAD;
}
.Hero{
    background: linear-gradient(to bottom,var(--primary), var(--secondary)),url('/assets/images/hanujawallpaper.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    overflow:hidden;
}
.enquiry{
    background: linear-gradient(to bottom,var(--primary), var(--secondary)),url('/assets/images/enquiry.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow:hidden;
}

.enquiry::before{
    position: absolute;
    content: '';
    /* top: 0; */
    bottom: -260px;
    left: 0;
    width: 100%;
    height: 50%;
    background: white;
    /* border-radius: 0 0 100% 100% / 0 0  50% 50% ;  */
    border-radius: 151% 149% 143% 49% / 277% 283% 1% 1%;
    transform: scaleX(1.5);
}
h3{
    /* font-family: "Inter", sans-serif; */
    font-family: "Montserrat", serif;
    font-weight: 500;
}
@font-face {
    font-family:Gilroy-Regular ;
    src: url(/fonts/Gilroy-Regular.ttf);
}
h4{
    font-family: "Gilroy-Regular";
}
@font-face {
    font-family:Gilroy-medium ;
    src: url(/fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: Idealist Models;
    src: url(/fonts/Idealist\ Models.otf);
}
span{
    font-family: Idealist Models;
    font-weight: 400;
}
h1{
    font-family: Gilroy-medium;
    font-weight: 400;
}
button{
    font-family: Gilroy-medium;
    font-weight: 200;
}
p{
    font-family: Gilroy-medium;
    font-weight: 400;
}
button{
    font-family: "Montserrat", serif;
    font-weight: 700;
    letter-spacing: 3px;
   
}

.Hero::before{
    position: absolute;
    content: '';
    /* top: 0; */
    bottom: -260px;
    left: 0;
    width: 100%;
    height: 50%;
    background: white;
    /* border-radius: 0 0 100% 100% / 0 0  50% 50% ;  */
    border-radius: 151% 149% 143% 49% / 277% 283% 1% 1%;
    transform: scaleX(1.5);
}

.stockist{
    background: linear-gradient(to right,#03192C, #21313FBC,#73737300),url('/assets/images/stockist.png');
    background-size: cover;
}
.referral{
    background: linear-gradient(to right,#03192C, #21313FBC,#73737300),url('/assets/images/referral.png');
    background-size: cover;
}