<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanuja-About us</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Emilys+Candy&family=Hurricane&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&display=swap"
        rel="stylesheet">
</head>

<body>

    <section class="Hero relative px-[50px] text-[white]">
        <div class="flex items-center gap-[40px]">
            <div>
                <img src="/assets/images/Logo.png" alt="">
            </div>
            <div class="w-[100%]">
                <div class=" flex h-[54px] items-center gap-[20px] justify-center">
                    <div class="flex gap-2 items-center">
                        <img class="w-[14px]" src="/assets/images/quot.png" alt="">
                        <h3 class="text-[white] text-[11px]">HELLO@EXAMPLE.COM</h3>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="/assets/images/contactlogo.png" alt="">
                        <h3 class="text-[white] text-[11px]"> CALL US</h3>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="/assets/images/star.png" alt="">
                        <h3 class="text-[white] text-[11px]">BOOK ONLINE</h3>
                    </div>

                </div>
                <hr>
                <div class="flex justify-between items-center">
                    <div class="text-[12px] flex items-center gap-[40px] h-[65px]">
                        <a href="index.html">
                            <h3>HOME</h3>
                        </a>
                        <a href="#">
                            <h3>ABOUT US</h3>
                        </a>
                        <a href="enquiry.html">
                            <h3>ENQUIRY</h3>
                        </a>
                        <a href="#">
                            <h3>REGISTRATION</h3>
                        </a>
                        <a href="#">
                            <h3>PRODUCTS</h3>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <h3 class="text-[12px]">AVAILABLE FRANCHISE LOCATIONS</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content h-[500px] flex justify-center flex-col items-center">
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-[78px]">About Us</h1>

            </div>
            <div class="flex flex-col text-center justify-center">
                <div class="flex justify-center py-[40px] items-center gap-5 w-[1232px]">
                    <div class="w-1/2 h-[1px] bg-[#C6C6C666]"></div>
                    <h3 class="tracking-[5px]">WELCOME</h3>
                    <div class="w-1/2 h-[1px] bg-[#C6C6C666]"></div>
                </div>
                <div>
                    <p class="text-[20px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore blanditiis,
                        placeat alias <br> tempora nihil quasi ducimus mollitia Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. <br> Tempore blanditiis, placeat alias tempora nihil quasi ducimus mollitia
                    </p>
                </div>
                <div class="flex justify-center pt-[20px]">
                    <button
                        class="bg-[#515b65] border-[3px] border-[#C9B5A71A] flex gap-2 items-center justify-center w-[150px] h-[54px]">
                        <a class="text-[14px]" href="#">OUR TEAM</a>
                        <img class="w-[16px]" src="/assets/images/arrowdown.png" alt="">
                    </button>
                </div>
            </div>
        </div>

    </section>

    <!-- OUr team -->
    <section class="px-[50px] py-[70px]">
        <div class="flex flex-col items-center text-center justify-center">
            <h1 class="text-[#0B2032] text-[48px]">Team</h1>
            <p class="w-[851px] text-[20px] text-[#717171] mt-[40px]">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Tempore blanditiis, placeat alias tempora nihil
                quasi ducimus mollitia Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore blanditiis,
                placeat alias tempora nihil quasi ducimus mollitia </p>
        </div>
        <div class="flex mt-[60px] justify-between">

            <div class="flex flex-col gap-[45px]">
                <div class="w-[607px] rounded-[20px] flex justify-between h-[296px] bg-[#E1E1E1] rounded-[20px]">
                    <div class="py-[35px] flex flex-col justify-center px-[20px]">
                        <h1 class="text-[24px]">Jhone Deo</h1>
                        <p class="text-[15px] py-[12px] text-[#717171]">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit.
                            Tempore blanditiis, placeat alias tempora nihil quasi ducimus mollitia. </p>
                        <p class="text-[15px]  text-[#5B5B5B]">5+ Years of Experience </p>
                        <button class="w-[109px] mt-[9px] h-[41px] rounded-[46px] text-[white] bg-[#3ED084]">
                            <a href="#">Contact</a>
                        </button>
                    </div>
                    <img class="rounded-tl-[89%] rounded-[20px]" src="/assets/images/doctor4.png" alt="">

                </div>

                <div class="w-[607px] rounded-[20px] flex justify-between h-[296px] bg-[#E1E1E1] rounded-[20px]">
                    <div class="py-[35px] w-1/2 flex flex-col justify-center px-[20px]">
                        <h1 class="text-[24px]">Jhone Deo</h1>
                        <p class="text-[15px] py-[12px] text-[#717171]">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit.
                            Tempore blanditiis, placeat alias tempora nihil quasi ducimus mollitia. </p>
                        <p class="text-[15px]  text-[#5B5B5B]">5+ Years of Experience </p>
                        <button class="w-[109px] mt-[9px] h-[41px] rounded-[46px] text-[white] bg-[#3ED084]">
                            <a href="#">Contact</a>
                        </button>
                    </div>
                    <img class="rounded-tl-[89%] object-cover w-1/2 rounded-[20px]" src="/assets/images/doctor1.png"
                        alt="">

                </div>
            </div>

            <div class="flex mt-[80px] flex-col gap-[45px]">
                <div class="w-[607px] rounded-[20px] flex justify-between h-[296px] bg-[#E1E1E1] rounded-[20px]">
                    <div class="py-[35px] w-1/2 flex flex-col justify-center px-[20px]">
                        <h1 class="text-[24px]">Jhone Deo</h1>
                        <p class="text-[15px] py-[12px] text-[#717171]">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit.
                            Tempore blanditiis, placeat alias tempora nihil quasi ducimus mollitia. </p>
                        <p class="text-[15px]  text-[#5B5B5B]">5+ Years of Experience </p>
                        <button class="w-[109px] mt-[9px] h-[41px] rounded-[46px] text-[white] bg-[#3ED084]">
                            <a href="#">Contact</a>
                        </button>
                    </div>
                    <img class="rounded-tl-[89%] object-cover w-1/2 rounded-[20px]" src="/assets/images/doctor2.png"
                        alt="">

                </div>

                <div class="w-[607px] rounded-[20px] flex justify-between h-[296px] bg-[#E1E1E1] rounded-[20px]">
                    <div class="py-[35px] w-1/2 flex flex-col justify-center px-[20px]">
                        <h1 class="text-[24px]">Jhone Deo</h1>
                        <p class="text-[15px] py-[12px] text-[#717171]">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit.
                            Tempore blanditiis, placeat alias tempora nihil quasi ducimus mollitia. </p>
                        <p class="text-[15px]  text-[#5B5B5B]">5+ Years of Experience </p>
                        <button class="w-[109px] mt-[9px] h-[41px] rounded-[46px] text-[white] bg-[#3ED084]">
                            <a href="#">Contact</a>
                        </button>
                    </div>
                    <!-- <img class="rounded-tl-[89%] object-cover w-1/2 rounded-[20px]" src="/assets/images/doctor2.png" alt=""> -->

                </div>
            </div>

    </section>

    <section class="px-[50px] py-[70px]">

        <div class="flex flex-col items-center text-center justify-center">
            <h1 class="text-[#0B2032] text-[48px]">Vision & Mission</h1>

        </div>
        <div class="flex justify-between mt-[60px]">

            <div class="relative bg-cover bg-center bg-no-repeat h-[460px] w-[821px]">
                <!-- Background image -->
                <div class="absolute inset-0 bg-[url('/assets/images/twodoctor.png')] bg-cover bg-center filter blur-[10px]">
                </div>

                <!-- Color overlay -->
                <div class="absolute inset-0 bg-[#03192C80] rounded-[20px] bg-opacity-50"></div>

                <!-- Content -->
                <div class="relative z-10 text-white flex flex-col justify-between py-[60px] px-[30px] h-full">
                    <h1 class="text-[36px]">Vision</h1>
                    <p class="text-[20px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore blanditiis,
                        placeat alias tempora nihil quasi ducimus mollitia Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Tempore blanditiis, placeat alias tempora nihil quasi ducimus mollitia </p>
                    <p class="text-[20px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore blanditiis,
                        placeat alias tempora nihil quasi ducimus mollitia Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Tempore blanditiis, placeat alias tempora nihil quasi ducimus mollitia </p>
                </div>
            </div>

            <div class="relative bg-cover bg-center bg-no-repeat h-[460px] w-[216px]">
                <!-- Background image -->
                <div class="absolute inset-0 bg-[url('/assets/images/about2.png')] bg-cover bg-center filter blur-[10px]">
                </div>

                <!-- Color overlay -->
                <div class="absolute inset-0 bg-[#03192C80] rounded-[20px] bg-opacity-50"></div>

                <!-- Content -->
                <div class="relative z-10 text-white flex items-center justify-center h-full">
                
                </div>
            </div>



            <div class="relative bg-cover bg-center bg-no-repeat h-[460px] w-[216px]">
                <!-- Background image -->
                <div class="absolute inset-0 bg-[url('/assets/images/doctor5.png')] bg-cover bg-center filter blur-[10px]">
                </div>

                <!-- Color overlay -->
                <div class="absolute inset-0 bg-[#03192C80] rounded-[20px] bg-opacity-50"></div>

                <!-- Content -->
                <div class="relative z-10 text-white flex items-center justify-center h-full">
                
                </div>
            </div>
    </section>

    <footer class="px-[50px] py-[70px] text-[white] bg-[#0E4675]">
        <div class="flex justify-between">
            <div class="w-1/3">
                <img src="/assets/images/Logo.png" alt="">
                <h4 class="text-[20px] font-[100] py-[15px]">Better data leads to more performant models. Performant
                    models lead to faster deployment. Deliver value
                    from your AI investments.</h4>
                <div class="flex gap-2">
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                </div>
            </div>
            <div>
                <h1 class="text-[23px] mb-[12px]">Quick Links</h1>
                <div class="text-[20px] flex flex-col gap-3">
                    <a href="#">
                        <h4>Home</h4>
                    </a>
                    <a href="#">
                        <h4>About</h4>
                    </a>
                    <a href="#">
                        <h4>Contact Us</h4>
                    </a>
                    <a href="#">
                        <h4>Services</h4>
                    </a>
                </div>
            </div>
            <div>
                <h1 class="text-[23px] mb-[12px]">Legals</h1>
                <div class="text-[20px] flex flex-col gap-3">
                    <a href="#">
                        <h4>Terms & Conditions</h4>
                    </a>
                    <a href="#">
                        <h4>Privacy Policies</h4>
                    </a>

                </div>
            </div>
        </div>
        
    </footer>
    <div class="h-[77px] w-full flex justify-center text-[20px] items-center text-[white] bg-[#0C375B]">
       <h4>@ 2024  All Rights Reserverd. Hanuja.com</h4>
    </div>

</body>

</html>