<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanuja-Enquiry</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Emilys+Candy&family=Hurricane&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="enquiry relative px-[50px] text-[white]">
        <div class="flex items-center gap-[40px]">
            <div>
                <img src="/assets/images/Logo.png" alt="">
            </div>
            <div class="w-[100%]">
                <div class=" flex h-[54px] items-center gap-[20px] justify-center">
                    <div class="flex gap-2 items-center">
                        <img class="w-[14px]" src="/assets/images/quot.png" alt="">
                        <h3 class="text-[white] text-[11px]">HELLO@EXAMPLE.COM</h3>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="/assets/images/contactlogo.png" alt="">
                        <h3 class="text-[white] text-[11px]"> CALL US</h3>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="/assets/images/star.png" alt="">
                        <h3 class="text-[white] text-[11px]">BOOK ONLINE</h3>
                    </div>

                </div>
                <hr>
                <div class="flex justify-between items-center">
                    <div class="text-[12px] flex items-center gap-[40px] h-[65px]">
                        <a href="index.html">
                            <h3>HOME</h3>
                        </a>
                        <a href="#">
                            <h3>ABOUT US</h3>
                        </a>
                        <a href="enquiry.html">
                            <h3>ENQUIRY</h3>
                        </a>
                        <a href="#">
                            <h3>REGISTRATION</h3>
                        </a>
                        <a href="#">
                            <h3>PRODUCTS</h3>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <h3 class="text-[12px]">AVAILABLE FRANCHISE LOCATIONS</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content h-[320px] flex justify-center flex-col items-center">
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-[48px]">Enquiry Form</h1>

            </div>
            
        </div>

    </section>

    <section class="px-[50px] py-[70px]">
        <div class="flex justify-between">
            <div class="w-1/2 flex flex-col gap-[20px]">
                <div class="w-[574px] py-[23px] px-[25px] text-[#0E4675] bg-[#DBE0E5] rounded-[22px]">
                    <div class="flex justify-between">
                        <h1 class="text-[20px] py-[15px]">Investment</h1>
                        <div class="w-[35px] rounded-[8px] h-[35px] bg-[#CCD4DB]"></div>
                    </div>
                    <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore blanditiis,
                        placeat alias tempora nihil quasi ducimus mollitia Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Tempore blanditiis, placeat alias tempora nihil quasi ducimus mollitia </p>
                </div>

                <div
                    class="w-[574px] flex justify-between py-[15px] px-[25px] text-[#0E4675] bg-[#DBE0E5] rounded-[15px]">
                    <h1 class="text-[20px]">Recruitment criteria for Zonal / District Franchise</h1>
                    <div class="w-[35px] rounded-[8px] h-[35px] bg-[#CCD4DB]"></div>

                </div>

                <div
                    class="w-[574px] flex justify-between py-[15px] px-[25px] text-[#0E4675] bg-[#DBE0E5] rounded-[15px]">
                    <h1 class="text-[20px]">Company - provided assistance</h1>
                    <div class="w-[35px] rounded-[8px] h-[35px] bg-[#CCD4DB]"></div>

                </div>

                <div
                    class="w-[574px] flex justify-between py-[15px] px-[25px] text-[#0E4675] bg-[#DBE0E5] rounded-[15px]">
                    <h1 class="text-[20px]">Role of Zonal Partner</h1>
                    <div class="w-[35px] rounded-[8px] h-[35px] bg-[#CCD4DB]"></div>

                </div>

            </div>

            <div class="w-1/2">
                <div class="w-[681px] rounded-[28px] bg-[#DBE1E5]">
                    <div class="rounded-tl-[30px] flex justify-center text-[white] items-center rounded-br-[30px] bg-[#0E4675] w-[177px] h-[58px]">
                        <h1 class="text-[20px]">Enquiry Form</h1>
                    </div>
                    <div class="py-[25px] text-[#0E4675] px-[20px]">
                        <div>
                            <p class="text-[19px]">Name</p>
                            <input class="w-full bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text" placeholder="Enter your name">
                        </div>

                        <div class="mt-[18px]">
                            <p class="text-[19px]">Email</p>
                            <input class="w-full bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text" placeholder="Enter your Email">
                        </div>

                        <div class="mt-[20px]">
                            <p class="text-[19px]">Mobile / WhatsApp Number</p>
                            <input class="w-full bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text" placeholder="Enter your Email">
                        </div>

                        <div class="w-[100%] flex gap-[20px] justify-between">

                            <div class="mt-[20px] w-1/2">
                                <p class="text-[19px]">State</p>
                                <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text" placeholder="Select State">
                            </div>
                            <div class="mt-[20px] w-1/2">
                                <p class="text-[19px]">District</p>
                                <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text" placeholder="Select District">
                            </div>

                        </div>

                        <div class="w-[100%] flex gap-[20px] justify-between">

                            <div class="mt-[20px] w-1/2">
                                <p class="text-[19px]">City</p>
                                <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text" placeholder="City">
                            </div>
                            <div class="mt-[20px] w-1/2">
                                <p class="text-[19px]">Pincode</p>
                                <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text" placeholder="Pincode">
                            </div>

                        </div>

                        <div class="mt-[20px]">
                            <p class="text-[19px]">Message</p>
                            <input class="w-full bg-[#CAD2D9] mt-[10px] pb-[100px] rounded-[15px] py-[18px] px-[20px]" type="text" placeholder="Enter your Message">
                        </div>

                        <button class="h-[52px] text-[white] text-[18px] flex items-center justify-center mt-[18px] w-[100%] py-[18px] rounded-[15px] bg-[#0E4675]">
                            <a href="#">Submit</a>
                        </button>

                    </div>

                </div>


            </div>

        </div>
    </section>

    <footer class="px-[50px] py-[70px] text-[white] bg-[#0E4675]">
        <div class="flex justify-between">
            <div class="w-1/3">
                <img src="/assets/images/Logo.png" alt="">
                <h4 class="text-[20px] font-[100] py-[15px]">Better data leads to more performant models. Performant
                    models lead to faster deployment. Deliver value
                    from your AI investments.</h4>
                <div class="flex gap-2">
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                </div>
            </div>
            <div>
                <h1 class="text-[23px] mb-[12px]">Quick Links</h1>
                <div class="text-[20px] flex flex-col gap-3">
                    <a href="#">
                        <h4>Home</h4>
                    </a>
                    <a href="#">
                        <h4>About</h4>
                    </a>
                    <a href="#">
                        <h4>Contact Us</h4>
                    </a>
                    <a href="#">
                        <h4>Services</h4>
                    </a>
                </div>
            </div>
            <div>
                <h1 class="text-[23px] mb-[12px]">Legals</h1>
                <div class="text-[20px] flex flex-col gap-3">
                    <a href="#">
                        <h4>Terms & Conditions</h4>
                    </a>
                    <a href="#">
                        <h4>Privacy Policies</h4>
                    </a>

                </div>
            </div>
        </div>
        
    </footer>
    <div class="h-[77px] w-full flex justify-center text-[20px] items-center text-[white] bg-[#0C375B]">
       <h4>@ 2024  All Rights Reserverd. Hanuja.com</h4>
    </div>
</body>

</html>