<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanuja Medicine</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Emilys+Candy&family=Hurricane&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="Hero relative px-[50px] text-[white]">
        <div class="flex items-center gap-[40px]">
            <div>
                <img src="/assets/images/Logo.png" alt="">
            </div>
            <div class="w-[100%]">
                <div class=" flex h-[54px] items-center gap-[20px] justify-center">
                    <div class="flex gap-2 items-center">
                        <img class="w-[14px]" src="/assets/images/quot.png" alt="">
                        <h3 class="text-[white] text-[11px]">HELLO@EXAMPLE.COM</h3>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="/assets/images/contactlogo.png" alt="">
                        <h3 class="text-[white] text-[11px]"> CALL US</h3>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="/assets/images/star.png" alt="">
                        <h3 class="text-[white] text-[11px]">BOOK ONLINE</h3>
                    </div>

                </div>
                <hr>
                <div class="flex justify-between items-center">
                    <div class="text-[12px] flex items-center gap-[40px] h-[65px]">
                        <a href="#">
                            <h3>HOME</h3>
                        </a>
                        <a href="aboutus.html">
                            <h3>ABOUT US</h3>
                        </a>
                        <a href="enquiry.html">
                            <h3>ENQUIRY</h3>
                        </a>
                        <a href="registration.html">
                            <h3>REGISTRATION</h3>
                        </a>
                        <a href="#">
                            <h3>PRODUCTS</h3>
                        </a>
                    </div>
                    <div>
                        <a href="Franchises.html">
                            <h3 class="text-[12px]">AVAILABLE FRANCHISE LOCATIONS</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content h-[500px] flex justify-center flex-col items-center">
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-[78px]">Welcome to Hanuja Medicines</h1>

            </div>
            <div class="flex flex-col text-center justify-center">
                <div class="flex justify-center py-[40px] items-center gap-5 w-[1232px]">
                    <div class="w-1/2 h-[1px] bg-[#C6C6C666]"></div>
                    <h3 class="tracking-[5px]">WELCOME</h3>
                    <div class="w-1/2 h-[1px] bg-[#C6C6C666]"></div>
                </div>
                <div>
                    <p class="text-[20px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore blanditiis,
                        placeat alias <br> tempora nihil quasi ducimus mollitia Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. <br> Tempore blanditiis, placeat alias tempora nihil quasi ducimus mollitia
                    </p>
                </div>
                <div class="flex justify-center pt-[20px]">
                    <button
                        class="bg-[#515b65] border-[3px] border-[#C9B5A71A] flex gap-2 items-center justify-center w-[150px] h-[54px]">
                        <a class="text-[14px]" href="#">EXPLORE</a>
                        <img class="w-[16px]" src="/assets/images/arrowdown.png" alt="">
                    </button>
                </div>
            </div>
        </div>

    </section>

    <section class="px-[50px] py-[45px]">
        <div class="flex justify-center">
            <h1 class="text-[48px]">Business Opportunity</h1>
        </div>
        <div class="text-[white] flex justify-between mt-[60px] gap-[85px]">
            <div class="stockist p-[40px] flex flex-col justify-center rounded-[20px] w-[605px] h-[310px]">
                <h1 class="text-[24px] pb-[20px]">STOCKIST</h1>
                <p class="text-[15px] leading-[25px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                    blanditiis, placeat alias tempora
                    nihil quasi ducimus mollitia Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                    blanditiis, placeat alias tempora nihil quasi ducimus mollitia </p>
            </div>
            <div class="referral p-[40px] flex flex-col justify-center rounded-[20px] w-[605px] h-[310px]">
                <h1 class="text-[24px] pb-[20px]">REFERRALS</h1>
                <p class="text-[15px] leading-[25px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                    blanditiis, placeat alias tempora
                    nihil quasi ducimus mollitia Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                    blanditiis, placeat alias tempora nihil quasi ducimus mollitia </p>
            </div>
        </div>

    </section>

    <!-- About us -->
    <section class="px-[50px] py-[45px]">
        <div class="flex justify-center">
            <h1 class="text-[48px]">About Us</h1>
        </div>
        <div class="flex mt-[100px]">
            <div class="w-1/2 flex flex-col justify-center">
                <h1 class="text-[80px] leading-[80px] text-[#7c7978]">We have <br> Over <span
                        class="text-[96px] text-[#484d4e]">20 years</span> of experiance</h1>
                <p class="w-[568px] py-[40px] text-[24px] leading-[28px] text-[#717171]">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Tempore blanditiis, placeat alias tempora
                    nihil quasi ducimus mollitia totam eum</p>
                <button class="w-[244px] text-[white] h-[72px] rounded-[60px] bg-[#0C4372] text-[24px]">
                    <a href="#">Read More</a>
                </button>
            </div>
            <div class="w-1/2 flex flex-col items-center">


                <div class="relative">
                    <div class="relative w-[440px] h-[576px] bg-[#D9D9D9] ">
                        <div class="absolute top-[-70px] left-[72px] bottom-[40px] right-[-58px]">
                            <div>
                                <img class="w-[406px] h-[605px]" src="/assets/images/doctor2.png" alt="">
                            </div>

                        </div>
                    </div>

                    <div class="absolute left-[-80px] right-[24px] top-[140px]">
                        <div class="relative  w-[317px] h-[474px] bg-[#D9D9D9]">
                            <div class="absolute top-[35px] right-[10px] left-[-37px]">
                                <img src="/assets/images/doctor1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>



            </div>


        </div>

    </section>

    <!-- Our Products -->
    <section class="px-[50px] mt-[100px] py-[65px] bg-[#e3e3e3]">
        <div class="flex justify-center">
            <h1 class="text-[48px] text-[#0E4675]">Our Products </h1>
        </div>
        <div class="flex justify-between mt-[70px]">
            <div class="w-[264px] h-[373px]">
                <div class="w-[271px] h-[271px] bg-[white] rounded-t-[500px] rounded-b-[20px]">
                    <img src="/assets/images/medicine.png" alt="">
                </div>
                <p class="text-[20px] text-[#464646] leading-[40px]">Lorem ipsum is not valid</p>
                <p class="text-[20px] text-[#464646] ">220RS</p>
                <button class="w-[271px] h-[53px] text-[20px] bg-[#0E4675] text-[white] rounded-[13px]">
                    <a href="#">Order Now</a>
                </button>
            </div>

            <div class="w-[264px] h-[373px]">
                <div class="w-[271px] h-[271px] bg-[white] rounded-t-[500px] rounded-b-[20px]">
                    <img src="/assets/images/medicine.png" alt="">
                </div>
                <p class="text-[20px] text-[#464646] leading-[40px]">Lorem ipsum is not valid</p>
                <p class="text-[20px] text-[#464646] ">220RS</p>
                <button class="w-[271px] h-[53px] text-[20px] bg-[#0E4675] text-[white] rounded-[13px]">
                    <a href="#">Order Now</a>
                </button>
            </div>

            <div class="w-[264px] h-[373px]">
                <div class="w-[271px] h-[271px] bg-[white] rounded-t-[500px] rounded-b-[20px]">
                    <img src="/assets/images/medicine.png" alt="">
                </div>
                <p class="text-[20px] text-[#464646] leading-[40px]">Lorem ipsum is not valid</p>
                <p class="text-[20px] text-[#464646] ">220RS</p>
                <button class="w-[271px] h-[53px] text-[20px] bg-[#0E4675] text-[white] rounded-[13px]">
                    <a href="#">Order Now</a>
                </button>
            </div>

            <div class="w-[264px] h-[373px]">
                <div class="w-[271px] h-[271px] bg-[white] rounded-t-[500px] rounded-b-[20px]">
                    <img src="/assets/images/medicine.png" alt="">
                </div>
                <p class="text-[20px] text-[#464646] leading-[40px]">Lorem ipsum is not valid</p>
                <p class="text-[20px] text-[#464646] ">220RS</p>
                <button class="w-[271px] h-[53px] text-[20px] bg-[#0E4675] text-[white] rounded-[13px]">
                    <a href="#">Order Now</a>
                </button>
            </div>

        </div>

        <div class="flex justify-between mt-[70px]">
            <div class="w-[264px] h-[373px]">
                <div class="w-[271px] h-[271px] bg-[white] rounded-t-[500px] rounded-b-[20px]">
                    <img src="/assets/images/medicine.png" alt="">
                </div>
                <p class="text-[20px] text-[#464646] leading-[40px]">Lorem ipsum is not valid</p>
                <p class="text-[20px] text-[#464646] ">220RS</p>
                <button class="w-[271px] h-[53px] text-[20px] bg-[#0E4675] text-[white] rounded-[13px]">
                    <a href="#">Order Now</a>
                </button>
            </div>

            <div class="w-[264px] h-[373px]">
                <div class="w-[271px] h-[271px] bg-[white] rounded-t-[500px] rounded-b-[20px]">
                    <img src="/assets/images/medicine.png" alt="">
                </div>
                <p class="text-[20px] text-[#464646] leading-[40px]">Lorem ipsum is not valid</p>
                <p class="text-[20px] text-[#464646] ">220RS</p>
                <button class="w-[271px] h-[53px] text-[20px] bg-[#0E4675] text-[white] rounded-[13px]">
                    <a href="#">Order Now</a>
                </button>
            </div>

            <div class="w-[264px] h-[373px]">
                <div class="w-[271px] h-[271px] bg-[white] rounded-t-[500px] rounded-b-[20px]">
                    <img src="/assets/images/medicine.png" alt="">
                </div>
                <p class="text-[20px] text-[#464646] leading-[40px]">Lorem ipsum is not valid</p>
                <p class="text-[20px] text-[#464646] ">220RS</p>
                <button class="w-[271px] h-[53px] text-[20px] bg-[#0E4675] text-[white] rounded-[13px]">
                    <a href="#">Order Now</a>
                </button>
            </div>

            <div class="w-[264px] h-[373px]">
                <div class="w-[271px] h-[271px] bg-[white] rounded-t-[500px] rounded-b-[20px]">
                    <img src="/assets/images/medicine.png" alt="">
                </div>
                <p class="text-[20px] text-[#464646] leading-[40px]">Lorem ipsum is not valid</p>
                <p class="text-[20px] text-[#464646] ">220RS</p>
                <button class="w-[271px] h-[53px] text-[20px] bg-[#0E4675] text-[white] rounded-[13px]">
                    <a href="#">Order Now</a>
                </button>
            </div>

        </div>




    </section>

    <!-- Why CHoos Us -->
    <section class="px-[50px] py-[60px]">
        <div class="">
            <h1 class="text-[48px] text-[#0E4675]">Why Choose Us</h1>
        </div>
        <div class="flex justify-between mt-[45px]">
            <div
                class="w-[406px] rounded-[30px] py-[30px] px-[20px] flex flex-col justify-between h-[480px] bg-[#eee6e4]">
                <h1 class="text-[32px] mt-[80px] text-[#5F5F5F]">Lorem Ipsum espundn</h1>
                <p class="text-[20px] py-[30px] leading-[24px] text-[#575757]">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Tempora dignissimos, optio corrupti velit
                    consequuntur nulla, magni esse odio dolorem tenetur adipisci, iste praesentium nam suscipit
                    voluptates ratione</p>
                <a class="text-[20px] text-[#666666]" href="#">Learn more</a>

            </div>

            <div
                class="w-[406px] rounded-[30px] py-[30px] px-[20px] flex flex-col justify-between h-[480px] bg-[#DEDEDE]">
                <h1 class="text-[32px] mt-[80px] text-[#5F5F5F]">Lorem Ipsum espundn</h1>
                <p class="text-[20px] py-[30px] leading-[24px] text-[#575757]">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Tempora dignissimos, optio corrupti velit
                    consequuntur nulla, magni esse odio dolorem tenetur adipisci, iste praesentium nam suscipit
                    voluptates ratione</p>
                <a class="text-[20px] text-[#666666]" href="#">Learn more</a>

            </div>
            <div
                class="w-[406px] rounded-[30px] py-[30px] px-[20px] flex flex-col justify-between h-[480px] bg-[#eee6e4]">
                <h1 class="text-[32px] mt-[80px] text-[#5F5F5F]">Lorem Ipsum espundn</h1>
                <p class="text-[20px] py-[30px] leading-[24px] text-[#575757]">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Tempora dignissimos, optio corrupti velit
                    consequuntur nulla, magni esse odio dolorem tenetur adipisci, iste praesentium nam suscipit
                    voluptates ratione</p>
                <a class="text-[20px] text-[#666666]" href="#">Learn more</a>

            </div>
        </div>

    </section>

    <section class="h-[714px] bg-[#D9D9D9]">
        <div class="flex flex-col h-[714px] justify-center text-center items-center">
            <h1 class="text-[48px] text-[#646464]">Video</h1>
        </div>

    </section>


    <section class="px-[50px] py-[70px]">
        <div class="flex justify-center">
            <h1 class="text-[48px] text-[#0E4675]">Client Review</h1>
        </div>
        <div class="flex justify-center mt-[60px] gap-[50px] items-center">
            <div>
                <a href="#"><img src="/assets/images/arrowleft.png" alt=""></a>
            </div>
            <div class="w-[784px] flex flex-col items-center justify-center text-center">
                <div class="w-[105px] h-[105px] bg-[#D9D9D9] rounded-[50%]"></div>
                <h1 class="text-[24px] text-[#666666] py-[28px]">Sachin pagire</h1>
                <p class="text-[21px] text-[#666666]">Example: A web application might use an RDBMS to store user
                    information, and the app interacts with the database whenever the user logs in, retrieves their
                    profile, or updates data.</p>
            </div>
            <div>
                <img src="/assets/images/arrowright.png" alt="">
            </div>
        </div>
    </section>

    <section class="px-[50px] py-[70px]">
        <div class="flex justify-between">
            <div>
                <h1 class="text-[48px] text-[#0E4675]">Contact</h1>
                <div class="text-[24px] text-[#5D5D5D] py-[25px]">
                    <p>Contact No. : +91 9088908890</p>
                    <p>Email : example@gmail.com</p>
                </div>
                <iframe class="rounded-[20px] border-[4px] mt-[30px] border-[#D4D4D4]"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15134.484675802963!2d73.9245704054204!3d18.50081119226104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c20298f1c8eb%3A0xf385a6e1fb1db7c5!2sParam%20Sales!5e0!3m2!1sen!2sin!4v1733398568014!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="w-[612px] py-[45px] px-[30px] rounded-[59px] h-[711px] bg-[#e2e2e2]">
                <h1 class="text-[36px] text-[#0E4675]">Enquiry Form</h1>
                <input
                    class="bg-[#D2D2D2] w-full mt-[40px] rounded-[20px] px-[25px] text-[20px] text-[#646464] h-[68px]"
                    type="text" placeholder="Enter your name">
                <input
                    class="bg-[#D2D2D2] mt-[40px] w-full rounded-[20px] px-[25px] text-[20px] text-[#646464] h-[68px]"
                    type="text" placeholder="Enter your Email">
                <input
                    class="bg-[#D2D2D2] mt-[40px] w-full rounded-[20px] px-[25px] text-[20px] text-[#646464] h-[219px] flex flex-col justify-start"
                    type="text" placeholder="Enter your Message">
                <button class="w-full mt-[34px] h-[53px] rounded-[12px] bg-[#0E4675]">
                    <a class="text-[white] text-[20px]" href="#">Submit</a>
                </button>
            </div>
        </div>

    </section>
    <footer class="px-[50px] py-[70px] text-[white] bg-[#0E4675]">
        <div class="flex justify-between">
            <div class="w-1/3">
                <img src="/assets/images/Logo.png" alt="">
                <h4 class="text-[20px] font-[100] py-[15px]">Better data leads to more performant models. Performant
                    models lead to faster deployment. Deliver value
                    from your AI investments.</h4>
                <div class="flex gap-2">
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                    <div class="w-[50px] h-[50px] bg-[#0C375A] rounded-[10px]"></div>
                </div>
            </div>
            <div>
                <h1 class="text-[23px] mb-[12px]">Quick Links</h1>
                <div class="text-[20px] flex flex-col gap-3">
                    <a href="#">
                        <h4>Home</h4>
                    </a>
                    <a href="#">
                        <h4>About</h4>
                    </a>
                    <a href="#">
                        <h4>Contact Us</h4>
                    </a>
                    <a href="#">
                        <h4>Services</h4>
                    </a>
                </div>
            </div>
            <div>
                <h1 class="text-[23px] mb-[12px]">Legals</h1>
                <div class="text-[20px] flex flex-col gap-3">
                    <a href="#">
                        <h4>Terms & Conditions</h4>
                    </a>
                    <a href="#">
                        <h4>Privacy Policies</h4>
                    </a>

                </div>
            </div>
        </div>
    </footer>
    <div class="h-[77px] w-full flex justify-center text-[20px] items-center text-[white] bg-[#0C375B]">
        <h4>@ 2024  All Rights Reserverd. Hanuja.com</h4>
     </div>

</body>

</html>