<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanuja-registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Emilys+Candy&family=Hurricane&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="enquiry relative px-[50px] text-[white]">
        <div class="flex items-center gap-[40px]">
            <div>
                <img src="/assets/images/Logo.png" alt="">
            </div>
            <div class="w-[100%]">
                <div class=" flex h-[54px] items-center gap-[20px] justify-center">
                    <div class="flex gap-2 items-center">
                        <img class="w-[14px]" src="/assets/images/quot.png" alt="">
                        <h3 class="text-[white] text-[11px]">HELLO@EXAMPLE.COM</h3>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="/assets/images/contactlogo.png" alt="">
                        <h3 class="text-[white] text-[11px]"> CALL US</h3>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="/assets/images/star.png" alt="">
                        <h3 class="text-[white] text-[11px]">BOOK ONLINE</h3>
                    </div>

                </div>
                <hr>
                <div class="flex justify-between items-center">
                    <div class="text-[12px] flex items-center gap-[40px] h-[65px]">
                        <a href="index.html">
                            <h3>HOME</h3>
                        </a>
                        <a href="#">
                            <h3>ABOUT US</h3>
                        </a>
                        <a href="enquiry.html">
                            <h3>ENQUIRY</h3>
                        </a>
                        <a href="#">
                            <h3>REGISTRATION</h3>
                        </a>
                        <a href="#">
                            <h3>PRODUCTS</h3>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <h3 class="text-[12px]">AVAILABLE FRANCHISE LOCATIONS</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content h-[320px] flex justify-center flex-col items-center">
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-[48px]">Registration Form</h1>

            </div>

        </div>

    </section>

    <section class="px-[50px] py-[70px]">
        <div class="bg-[#dbe0e4] flex rounded-[24px] text-[#0E4675] py-[20px] px-[22px]">
            <div class="w-1/2 ">
                <h1 class="text-[20px]">Fill Registration Form</h1>

                <div>
                    <h1 class="text-[19px]  leading-[55px]">Select Franchises Type</h1>
                    <input class="bg-[#CAD2D9] text-[16px] rounded-[16px] py-[20px] px-[20px] w-[90%]" type="text"
                        placeholder="Select Franshises Type">
                </div>

                <div>
                    <h1 class="text-[19px]  leading-[55px]">Applicants Name</h1>
                    <input class="bg-[#CAD2D9] text-[16px] rounded-[16px] py-[20px] px-[20px] w-[90%]" type="text"
                        placeholder="Enter your Name">
                </div>

                <div>
                    <h1 class="text-[19px] leading-[55px]">Firm Name <span class="italic text-[14px]">(If you have
                            registered already, please enter firm name)</span></h1>
                    <input class="bg-[#CAD2D9] text-[16px] rounded-[16px] py-[20px] px-[20px] w-[90%]" type="text"
                        placeholder="Enter your firm Name">
                </div>

                <div class="mt-[25px]">
                    <h1 class="text-[19px] leading-[55px]">Type Of Firm</h1>
                    <div class="flex gap-[20px]">
                        <label class="flex gap-2 items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px] text-blue-600 border-gray-300 focus:ring-blue-500">
                            Individuals
                        </label>
                        <label class="flex gap-2 items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px] text-blue-600 border-gray-300 focus:ring-blue-500">
                            Corporate
                        </label>
                        <label class="flex gap-2 items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px] text-blue-600 border-gray-300 focus:ring-blue-500">
                            Partnership
                        </label>
                        <label class="flex gap-2 items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px] text-blue-600 border-gray-300 focus:ring-blue-500">
                            Trust
                        </label>
                        <label class="flex gap-2 items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px] text-blue-600 border-gray-300 focus:ring-blue-500">
                            Propriotory
                        </label>
                    </div>
                </div>

                <div>
                    <h1 class="text-[19px]  leading-[55px]">Address</h1>
                    <input class="bg-[#CAD2D9] text-[16px] rounded-[16px] pb-[70px] py-[20px] px-[20px] w-[90%]"
                        type="text" placeholder="Enter your address">
                </div>

                <div class="w-[90%] flex gap-[20px] justify-between">

                    <div class="mt-[20px] w-1/2">
                        <p class="text-[19px]">Birth Date</p>
                        <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text"
                            placeholder="dd/mm/yyyy">
                    </div>
                    <div class="mt-[20px] w-1/2">
                        <p class="text-[19px]">Age</p>
                        <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text"
                            placeholder="Enter your Age">
                    </div>

                </div>

                <div class="mt-[25px]">
                    <h1 class="text-[19px] leading-[55px]">Type Of Firm</h1>
                    <div class="flex gap-[20px]">
                        <label class="flex items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px]  border-gray-300 focus:ring-blue-500">
                            <h1 class="text-[16px] text-[#606060]">Single</h1>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px]  border-gray-300 focus:ring-blue-500">
                            <h1 class="text-[16px] text-[#606060]">Married</h1>
                        </label>

                    </div>
                </div>
                <div class="mt-[20px]">
                    <h1 class="text-[19px]  leading-[55px]">Email ID</h1>
                    <input class="bg-[#CAD2D9] text-[16px] rounded-[16px] py-[20px] px-[20px] w-[90%]" type="text"
                        placeholder="Enter your Email">
                </div>
                <div>
                    <h1 class="text-[19px]  leading-[55px]">Mobile Number</h1>
                    <input class="bg-[#CAD2D9] text-[16px] rounded-[16px] py-[20px] px-[20px] w-[90%]" type="text"
                        placeholder="Enter your Mobile number">
                </div>
                <div>
                    <h1 class="text-[19px]  leading-[55px]">WhatsApp Number</h1>
                    <input class="bg-[#CAD2D9] text-[16px] rounded-[16px] py-[20px] px-[20px] w-[90%]" type="text"
                        placeholder="Enter your WhatsApp number">
                </div>
                <div class="w-[90%] flex gap-[20px] justify-between">

                    <div class="mt-[20px] w-1/2">
                        <p class="text-[19px]">State</p>
                        <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text"
                            placeholder="Select State">
                    </div>
                    <div class="mt-[20px] w-1/2">
                        <p class="text-[19px]">District</p>
                        <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]" type="text"
                            placeholder="Select District">
                    </div>

                </div>
                <div>
                    <h1 class="text-[19px]  leading-[55px]">City</h1>
                    <input class="bg-[#CAD2D9] text-[16px] rounded-[16px] py-[20px] px-[20px] w-[90%]" type="text"
                        placeholder="City">
                </div>

                <div class="mt-[25px]">
                    <h1 class="text-[19px] leading-[55px]">Education of Owner</h1>
                    <div class="flex gap-[20px]">
                        <label class="flex gap-2 items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px] text-blue-600 border-gray-300 focus:ring-blue-500">
                            10-12th
                        </label>
                        <label class="flex gap-2 items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px] text-blue-600 border-gray-300 focus:ring-blue-500">
                            Graduate
                        </label>
                        <label class="flex gap-2 items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px] text-blue-600 border-gray-300 focus:ring-blue-500">
                            Post Graduate
                        </label>
                        <label class="flex gap-2 items-center space-x-2">
                            <input type="radio" name="type_of_firm"
                                class="w-4 h-4 text-[20px] text-blue-600 border-gray-300 focus:ring-blue-500">
                            Other
                        </label>
                    </div>
                    <div class="mt-[20px]">
                        <h1 class="text-[19px]  leading-[55px]">Owners Occupation</h1>
                        <input class="bg-[#CAD2D9] text-[16px] rounded-[16px] py-[20px] px-[20px] w-[90%]" type="text"
                            placeholder="Occupation">
                    </div>

                    <div class="w-[90%] mt-[20px] flex gap-[20px] justify-between">

                        <div class="mt-[20px] w-1/2">
                            <p class="text-[19px]">Profile Photo</p>
                            <p class="italic">(Upload less than 5mb)</p>
                            <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]"
                                type="text" placeholder="Choose file">
                        </div>
                        <div class="mt-[20px] w-1/2">
                            <p class="text-[19px]">Resume - ( PDF Only )</p>
                            <p>(Upload less than 5mb)</p>
                            <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]"
                                type="text" placeholder="Choose file">
                        </div>

                    </div>

                    <div class="w-[90%] flex gap-[20px] mt-[20px] justify-between">

                        <div class="mt-[20px] w-1/2">
                            <p class="text-[19px]">Address proof</p>
                            <p class="text-[15px] py-[8px]">Please attach mobile photo or scanned copy of Adhar Card /
                                PAN Card (Compulsory)</p>
                            <p class="italic">(Upload less than 5mb)</p>
                            <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]"
                                type="text" placeholder="Choose file">
                        </div>
                        <div class="mt-[20px] w-1/2">
                            <p class="text-[19px]">Resume - ( PDF Only )</p>
                            <p class="text-[15px] py-[8px]">Please attach mobile photo or scanned copy of Adhar Card /
                                PAN Card (Compulsory)</p>
                            <p>(Upload less than 5mb)</p>
                            <input class=" w-[100%] bg-[#CAD2D9] mt-[10px] rounded-[15px] py-[18px] px-[20px]"
                                type="text" placeholder="Choose file">
                        </div>

                    </div>
                </div>
            </div>
            <div class="flex w-[1px] h-full bg-[black]"></div>

            <div class="w-1/2">


            </div>

        </div>

    </section>
</body>

</html>